/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: #373fff;
}

ul {
  margin:0;
  padding:0;
  
}

li {
  list-style-type: none;
  padding-bottom: 1em;
}

li a {
  
}
